---
  title: tes
---

<doctype html>
<html>
  <head>
    <title>Tes deploy lume ke Deno Deploy</title>
  </head>
  <body>
    <h1>Hello Wrold</h1>
    <p>Tes deploy lume ke Deno</p>
    <p>Jika kamu melihat ini, berarti proses deploy sudah berhasil. Patut untuk dirayakan!</p>
  </body>
</html>
